@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #4B4B4B;

    --card: #FFFFFF;
    --card-foreground: #083156;
    --popover: #FFFFFF;
    --popover-foreground: #1A1E24;

    --primary: #FAB728;
    --primary-foreground: #083156;

    --secondary: #FFE1BC;
    --secondary-200: #FBE56D;
    --secondary-foreground: #3C5D87;

    --muted: #FFFAED;
    --muted-foreground: #3D4D5C;

    --accent: #FFFAED;
    --accent-foreground: #FAB728;

    --destructive: #E63946;
    --destructive-foreground: #F6F9FC;

    --border: #D0D5E2;
    --input: #D0D5E2;
    --ring: #1A1E24;
    --chart-1: #E66C3A;
    --chart-2: #21A29B;
    --chart-3: #1E4E69;
    --chart-4: #E8C743;
    --chart-5: #F5A623;
    --radius: 0.5rem;
  }

  .dark {
    --background: #1A1E24;
    --foreground: #F6F9FC;
    --card: #1A1E24;
    --card-foreground: #F6F9FC;
    --popover: #1A1E24;
    --popover-foreground: #F6F9FC;
    --primary: #F6F9FC;
    --primary-foreground: #131820;
    --secondary: #232C3C;
    --secondary-foreground: #F6F9FC;
    --muted: #232C3C;
    --muted-foreground: #97A1B7;
    --accent: #232C3C;
    --accent-foreground: #F6F9FC;
    --destructive: #4E1F1F;
    --destructive-foreground: #F6F9FC;
    --border: #232C3C;
    --input: #232C3C;
    --ring: #A6B4CC;
    --chart-1: #3B82F6;
    --chart-2: #2DCE89;
    --chart-3: #EAB308;
    --chart-4: #9333EA;
    --chart-5: #E11D48;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}